/* custom css */

/* 
body {
    background-color: #ececec;
} */


@font-face {
font-family: "logoFont";
src: url("https://bd4he-299016.wl.r.appspot.com/static/Spectral-ExtraBold.ttf") format("truetype"),
}


:root {
    --sage: #608545;
    --gray-blue: #455a64;
    --theme-color: var(--sage);
}

.center-h {
    text-align: center;
}

p {
    font-size:20px;
}

.img_div {
    overflow:hidden;
    min-height: 35rem;
    object-fit: cover;
}


.card-img-top {
    position: absolute;
    float: top;
    top: 0;
    display: block;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.main_box {
    padding-top: 2%;
    background-color: rgb(10,25,30);
    border-radius: 10px;
    padding: 10px;
    color: white;
}


#site_header{
    margin-top: 2%;
    border-radius: 20px;
    background-image: url("images/Banner.jpg");
    background-size: cover;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

}

.bio_box{
    background-color: hsl(204, 5%, 90%);
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}


.show-more {
    padding: 10px 0;
    text-align: center;
}

br {
    color: #000;
    background-color: #000;
}

.fadeout {
    pointer-events:none;
    position: absolute; 
    bottom: 0em;
    width:100%;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(228, 230, 231, 0) 0%,
        rgba(228, 230, 231, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(228, 230, 231, 0) 0%,
        rgba(228, 230, 231, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(228, 230, 231, 0) 0%,
        rgba(228, 230, 231, 1) 100%
    );
    background-image: linear-gradient(
        rgba(228, 230, 231, 0) 0%,
        rgb(255, 255, 255) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(228, 230, 231, 0) 0%,
        rgba(228, 230, 231, 1) 100%
    );
} 

#dots_window {
    width: 100%;
    height: 100%;
    background-color: #12232E;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    z-index: -1;
  }

#logo_div {
    padding-top: 5rem;
    text-align: center;
    color: white;
    pointer-events:none;
}

h1, h2, h3 {
    font-family: 'Georgia' !important;
    font-weight: bold;
}

#logo_div h1 {
    font-size: 8rem;
>

#mission_statement {
    font-size: 4vw;
    text-align: center;
    width: 100%;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.navbar {
    background-color: var(--theme-color);
    color: white !important;
}

#footer_div {
    height: 1rem !important;
    background-color: var(--theme-color) !important;
    color: white !important;
}

#footer_div p {
    background-color: var(--theme-color) !important;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.research_banner {
    background-color: var(--theme-color) !important;
    color: white;
    text-align: center;
    padding: 10px;
}

.research_banner .card {
    background-color: var(--theme-color) !important;
    color: white;
    border: 5px solid white!important;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}



#myCarousel {
  height: 100%;
  width: 100%;
}

.carousel-indicators {
  margin-bottom: 8px;
}

.carousel-indicators>li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-inner {
  height: 100%;
  background-color: black;
}

.carousel-item {
  text-align: center;
}

.parent {
  height: 50vh;
}

.carousel-item img {
  display: block;
  margin: auto;
  width: 60%;
}

body {
    color: white;
}