{% extends "base.html" %}


{% block content %}
<!-- <div class="container center-h" style="height: 25vh;">
    <img src="static/images/logo.PNG">
</div> -->
<canvas id="dots_window">  
</canvas>


<div id="logo_div">
  <h1 style="font-weight: bold;  font-family: Arial, Helvetica, sans-serif; padding-bottom: 0">Big Data for <br> Health Equity</h1>
  <h2 class = "center-h" style="font-weight: bold;  font-family: Arial, Helvetica, sans-serif; font-size: 5vw">BD4HE</h2>
  <br>
</div> 
<br>
<div class="container main_box">
  <h1>Mission</h1>
  <hr>
  <p > The Mission of Big Data for Health Equity Research Collaborative is Advancing Big Data Methods in Population Health to Improve Health Equity</p>
</div>

<div class="container main_box">
  <h1>Group Description</h1>
  <hr>
  <p>
      This collaborative group focuses on the use of Big Data for health equity research. We are faculty, trainees, and students from universities across the U.S committed to advancing theories, methods, and findings related to the use of Big Data. We investigate the impact of the social, cultural, and built environment on health disparities and identify levers for change. One theme of our research has been the measurement of area-level racial attitudes and quantifying its impact on health using both machine learning algorithms and qualitative approaches.]

    </div>

<div class="container main_box" id="Research">
  <hr>
  <h1>Research</h1>
  <h2>In development</h2>
  <ul>
    {% for proj in going_data['current']%}
    <li><p>{{proj}}</p></li>
    {%endfor%}
  </ul>
  
  <h2>Under review</h2>
  <ul>
    {% for proj in going_data['review']%}
    <li><p>{{proj}}</p></li>
    {%endfor%}
  </ul>

  <h2>Published works</h1>
  <ul>
    {% for proj in pub_data['pubs']%}
    <li><p>{{proj}}</p></li>
    {%endfor%}
  </ul>
</div>

<div class="container main_box" id="Grant Support">
  <h1>Grant Support</h1>
  <hr>
  <p>
    This research is supported by the National Institute on Minority Health and Health Disparities and the National Library of Medicine of the National Institutes of Health under Award Number R00MD012615 (Nguyen, T., PI), R01LM012849 (Nguyen, Q., PI). We are grateful to the California Center for Population Research at UCLA (CCPR) for general support. CCPR receives population research infrastructure funding (P2C-HD041022) from the Eunice Kennedy Shriver National Institute of Child Health and Human Development (NICHD).
  </p>
</div>

<div class="container main_box" id = "Media Appearances">
  <h1>Media Appearances</h1>
  <hr>
  <div class="row">
    {% for media in media_data['appearances']%}
      <div class="card col-md-4" style="width: 18rem;">
        <div class="d-flex align-items-center" style="height: 30vh;">
          <img class="card-img-top" src="{{media['thumbnail']}}" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{media['title']}}</h5>
          <p class="card-text">{{media['desc']}}</p>
          <a href="{{media['link']}}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    {%endfor%}
  </row>
</div>
<script src="static/js/dots.js"></script>


{% endblock %}