{% extends "base.html" %}


{% block content %}
<!-- <div class="container center-h" style="height: 25vh;">
    <img src="static/images/logo.PNG">
</div> -->

<!-- <canvas id="dots_window">  
</canvas>



<div id="logo_div">
  <h1>Big Data for <br> Health Equity</h1>
  <h2>BD4HE</h2>
  <br>
</div> -->
 
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      {% for media in media_data['appearances'] %}
        {% if "Neighborhood" in media['title'] %}
          <div class="carousel-item active"  style="height: 50vh">
        {% else %}
          <div class="carousel-item" style="height: 50vh">
        {% endif %}
            <div class="parent d-flex justify-content-center">
              <img src="{{media['thumbnail']}}">
              <div class="mask rgba-black-strong"></div>
            </div>
          <div class="carousel-caption strokeme">
            <h3 class="h3-responsive">{{media['title']}}</h3>
            <p>{{media['desc']}}  <a href="{{media['link']}}" target="_blank">Read More...</a></p>
          </div>
        </div>
      {%endfor%}
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
  
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div> 
  <!-- <div class="fadeout" style="position: relative; top: -4.5vh; height: 4.5vh; display: block"></div> -->


<br>
<div class="container main_box" style="">
  <h1 id="mission_box" style="font-weight: bold; padding-bottom: 1rem;text-align: center;">Advancing Big Data Methods in Population Health to Improve Health Equity</h1>
  <p style="text-align: center;">
      We are a collaborative of faculty, trainees, and students from universities across the U.S committed to advancing theories, methods, and findings related to the use of Big Data for health equity research. We investigate the impact of the social, cultural, and built environment on health disparities and identify levers for change. One theme of our research has been the measurement of area-level racial attitudes and quantifying its impact on health using both machine learning algorithms and qualitative approaches.

  <h1 class = "research_banner">Research</h1>

  <h2>In development</h2>
  <ul>
    {% for proj in going_data['current']%}
    <li><p>{{proj}}</p></li>
    {%endfor%}
  </ul>
  
  <h2>Under review</h2>
  <ul>
    {% for proj in going_data['review']%}
    <li><p>{{proj}}</p></li>
    {%endfor%}
  </ul>

  <h2>Published works</h1>
  <ul>
    {% for proj in pub_data['pubs']%}
    <li><p>{{proj}}</p></li>
    {%endfor%}
  </ul>
  <h1 class='research_banner'>Grant Support</h1>
  <p>
    This research is supported by the National Institute on Minority Health and Health Disparities and the National Library of Medicine of 
    the National Institutes of Health under Award Number R00MD012615 (Nguyen, T., PI), R01LM012849 (Nguyen, Q., PI). We are grateful to the 
    California Center for Population Research at UCLA (CCPR) for general support. CCPR receives population research infrastructure funding 
    (P2C-HD041022) from the Eunice Kennedy Shriver National Institute of Child Health and Human Development (NICHD).
  </p>
</div>

<!-- 
<div class="container main_box" id = "Media Appearances">
  <h1>Media Appearances</h1>
  <hr>
  <div class="row">
    {% for media in media_data['appearances']%}
      <div class="card col-md-4" style="width: 18rem;">
        <div class="d-flex align-items-center" style="height: 30vh;">
          <img class="card-img-top" src="{{media['thumbnail']}}" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{media['title']}}</h5>
          <p class="card-text">{{media['desc']}}</p>
          <a href="{{media['link']}}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    {%endfor%}
    </row>
  </div>
</div> -->
<script src="static/js/dots.js"></script>

{% endblock %}